html, body, h1, h2, h3, ol, ul, li, a {
      padding: 0;
      border: 0;
      margin: 0;
}

.container {
  text-shadow: 1px 1px 1px grey;
}

.jumbotron {
  text-align: center;
}
.kappa-carousel {
  /*border: 1px solid brown;*/
  font-weight: bolder;
  margin: auto;
  width: 75%;
  text-align: center;
}

.carnival {
  /*border: 1px solid blue;*/
  font-weight: bold;
  margin: auto;
  width: 80%;
}

.index {
  /*border: 1px solid purple;*/
  margin: auto;
  width: 100%;
}

.button-container {
  /*border: 1px solid red;*/
  margin:auto;
  width: 100%;
  top: 625px;
  position: absolute;
}

.center-children {
  text-align: center;
}

.previous {
  /*border: 1px solid yellow;*/
  margin: auto;
  width: 100px;
}

.next {
  /*border: 1px solid green;*/
  margin: auto;
  width: 100px;
}

.index {
  margin: 5px 75px 15px 75px;
  width: 100%;
}

.legend {
  border: 2px solid white;
  border-radius: 5px;
  background: grey;
  display: inline-block;
  height: 35px;
  width: 40px;
}
